.wrapper {
     display: flex;
     flex-direction: column;
     gap: 10px;
}

.wrapper div {
     font-size: 15px;
}

.thin {
     font-weight: 200;
}

.light {
     font-weight: 300;
}

.regular {
     font-weight: 400;
}

.medium {
     font-weight: 500;
}

.bold {
     font-weight: 700;
}

.black {
     font-weight: 900;
}
